<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>12th Marks Calculator</title>
</head>
<body class="resultBody">
    <div class="container-result">
        <table>
            <h1>12th Marks Calculator</h1>
                <tr>
                    <th>Subjects</th>
                    <th>10th <br><p>50%</p></th>
                    <th>11th <br><p>20%</p></th>
                    <th>12th <br><p>30%</p></th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>Tamil</td>
                    <td><%= tenMark %> </td>
                    <td><%= eleTamil %> </td>
                    <td><%= tweTamil %> </td>
                    <td><%= tTamil %> </td>
                </tr>
                <tr>
                    <td>English</td>
                    <td><%= tenMark %> </td>
                    <td><%= eleEnglish %> </td>
                    <td><%= tweEnglish %> </td>
                    <td><%= tEnglish %> </td>
                </tr>
                <tr>
                    <td>Maths</td>
                    <td><%= tenMark %> </td>
                    <td><%= eleMaths %> </td>
                    <td><%= tweMaths %> </td>
                    <td><%= tMaths %> </td>
                </tr>
                <tr>
                    <td>Physics</td>
                    <td><%= tenMark %> </td>
                    <td><%= elePhysics %> </td>
                    <td><%= twePhysics %> </td>
                    <td><%= tPhysics %> </td>
                </tr>
                <tr>
                    <td>Chemistry</td>
                    <td><%= tenMark %> </td>
                    <td><%= eleChemistry %> </td>
                    <td><%= tweChemistry %> </td>
                    <td><%= tChemistry %> </td>
                </tr>
                <tr>
                    <td>Bio/CS</td>
                    <td><%= tenMark %> </td>
                    <td><%= eleCsBio %> </td>
                    <td><%= tweCsBio %> </td>
                    <td><%= tCsBio %> </td>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><%= Total %> </td>
                </tr>
        </table>
<%- include("partials/footer.ejs") %> 